In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [10]:
fname = 'Exercise_ Netflix Raw Data.csv'
df = pd.read_csv(fname)
df.drop(axis=1, labels=['Unnamed: 5'], inplace=True)
df.head()

,Subscriber ID,Show,Episodes Watched,Episode Length (m),Total Mins watched
0,2000,Walking Dead,2.63,40,105
1,2000,Lost,0.60,45,27
2,2000,Weeds,0.27,30,8
3,2000,Mad Men,0.40,45,18
4,2000,Pony,0.07,30,2

Calculate the total time watched per subscriber:

In [11]:
df.groupby('Subscriber ID')['Total Mins watched'].sum()

Subscriber ID
1       232
2       233
3       232
4       202
5       199
6       228
7       197
8       199
9       159
10      215
11      204
12      168
13      202
14      214
15      244
16      165
17      195
18      258
19      187
20      205
21      225
22      181
23      175
24      185
25      210
26      185
27      211
28      180
29      199
30      178
       ...
1971    195
1972    183
1973    144
1974    194
1975    195
1976    168
1977    198
1978    232
1979    199
1980    165
1981    234
1982    185
1983    180
1984    216
1985    176
1986    191
1987    217
1988    179
1989    211
1990    179
1991    170
1992    213
1993    231
1994    200
1995    223
1996    219
1997    198
1998    189
1999    193
2000    161
Name: Total Mins watched, Length: 2000, dtype: int64